@charset "UTF-8";

body {
    margin: 0;
}
header {
    background-image: url(images/shutterstock_708300100.jpeg);
    height: 35em;
    background-size: cover;
    }
.navi {
    float: left;
    padding: 20px;
    text-align: center;
    background: #FABF12;
    background-origin: content-box;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: -8px;
    width: 14%;
    height: 13px;
    padding-top: 13px;
    padding-left: 15px;
    list-style-type: none;
}

ul {
    margin-left: 600px;
}
nav {
    background-color: #FFEDA0;
    height: 80px;
    margin: 0;
    font-family: "Quicksand";
    font-size: 16px;
    list-style-type: none;
    padding-right: 100px;
    padding-top: 17px;
}
#naviwhybees a:hover {
    background-color: #FFF6DB; 
    background-origin: content-box;
    border-radius: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 29px;
    padding-right: 29px;
    margin: -40px;
    scale: 100%;
    transition: .25s;
}
#naviaboutus a:hover {
    background-color: #FFF6DB; 
    background-origin: content-box;
    border-radius: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 35px;
    padding-right: 35px;
    margin: -40px;
    scale: 100%;
    transition: .25s;
}
#navihth a:hover {
    background-color: #FFF6DB; 
    background-origin: content-box;
    border-radius: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 23px;
    padding-right: 23px;
    margin: -40px;
    scale: 100%;
    transition: .25s;
}
#navibuzzus a:hover {
    background-color: #FFF6DB; 
    background-origin: content-box;
    border-radius: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    margin: -40px;
    scale: 100%;
    transition: .25s;
}
a:link, a:visited {
    text-decoration: none;
    color: black;
}
nav #Logo {
    width: 128px;
    height: 64px;
    padding-left: 190px;
    padding-top: 0px;
    margin-bottom: 20px;
    float: left;
}
blockquote {
    padding-top: 5px;
    margin-left: 195px;
    margin-right: 50%;
    font-size: 30px;
    line-height: 38px;
    display: block;
    margin-bottom: -13px;
}
.welcome {
    margin-top: -50px;
    background: url(images/hoenycombbackwards.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1100px 580px;
    
}
h1 {
    padding-top: 65px;
    padding-left: 195px;
    letter-spacing: 1px;
    font-family: "sirenia", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
}
h2 {
    font-family: "Quicksand";
    text-align: center;
    font-weight: normal;
}
.bodynav img:hover {
scale: 110%;
transition: .25s;
}
#whybeesnav, #aboutusnav, #howtohelpnav {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
}
.bodynav h2 {
    background-color: #FABF12;
    background-origin: content-box;
    border-radius: 50px;
    margin-left: 73px;
    margin-top: 50px;
    width: 60%;
    height: 50px;
    padding-top: 17px;
}
#whybees a:hover {
    background-color: #FFF6DB; 
    border-radius: 50px;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 43px;
    padding-right: 43px;
    scale: 1.1%;
    transition: .25s;
}
#aboutus a:hover {
    background-color: #FFF6DB; 
    border-radius: 50px;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 53.8px;
    padding-right: 53.8px;
    scale: 1.1%;
    transition: .25s;
}   
#howtohelp a:hover {
    background-color: #FFF6DB; 
    border-radius: 50px;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 35.8px;
    padding-right: 35.8px;
    scale: 1.1%;
    transition: .25s;
}
.bodynav {
    background-color: #FFEDA0;
    height: 430px;
    border: none;
    float: left;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
}
.bodynav img {
    width: 350px;
    height: 302px;
}
.extrainfo p {
    height: 450px;
    width: 750px;
    padding-left: 195px;
    font-size: 25px;
    position: relative;
    left: 450px;
    top: 60px;
    line-height: 35px;
}
.extrainfo {
    margin-top: 550px;
    background-image: url(https://github.com/zeaturtle3/honeyhaven/blob/0aa556785ec2dce9a0d6052c7245be345bd1f6a3/html/images/logo%20outline.png);
    background-position-x: -100px;
    background-position-y: -130px;
    background-repeat: no-repeat;
    background-size: 580px 680px;
    margin-bottom: -25px;
}
.extrainfo img {
    float: right;
    margin-right: 195px;
    margin-top: -190px;
}
footer {
    background-color: #FFEDA0;
    width: 100%;
    height: 100px;
    bottom: 0;
    padding-top: 20px;
}
.footerlogo {
    float: right;
    padding-right: 195px;
}
.footert {
    float: right;
    padding-left: 195px;
    padding-top: 10px;
    padding-right: 50px;
    font: 15px "Quicksand";
    line-height: 28px;
    text-align: right;
}
.footer {
    float: left;
    padding-left: 195px;
    padding-right: 195px;
    font: 15px "Quicksand";
    line-height: 28px;
}

#companyname {
    font: 20px "Quicksand";
    line-height: 0px;
}
